{% extends 'main/base.html' %} 
{% block title %}{{ ls.name }} - To-Do List{% endblock %}

{% block content %}
<h1>{{ ls.name }}</h1>
<form method="post" action="#">
    {% csrf_token %}         
    {% for item in ls.item_set.all %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" value="clicked" name="c{{ item.id }}" >
            </div>
        </div>
        
        <input type="text" value="{{ item.text }}" class="form-control {% if item.complete %}completed{% endif %}">
    </div>
    {% endfor %}

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit" name="newItem" value="newItem" class="btn btn-success">Add Item</button>
        </div>
        <input type="text" name="new">
    </div>

    <button type="submit" name="delete" value="delete" class="btn btn-danger">Delete</button>
    
    <button type="submit" name="complete" value="complete" class="btn btn-success">Save</button>
</form>
{% endblock %}
