{% extends "main/base.html" %}

{% block title %}
    View Lists
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% for td in user.todolist.all %}
            <p><a href="/{{td.id}}">{{td.name}}</a></p>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            <strong>Warning:</strong> You need to be logged in to view your lists. 
            <a href="/login">Login</a> or 
            <a href="/register">register</a> an account.
        </div>
    {% endif %}
{% endblock %}
